<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div="container">
            <h1>MTG Gallery</h1>
            <p>Vintage Collection</p>
            <p> <a class = "btn btn-primary btn-lg" href="/cards/new">Add New Card</a> </p>
        </div>
    </header>
    
   <div class='row text-center flex-wrap'>
    <% cards.forEach(function(card) { %>
        <div class='col-md-3 col-sm-6'>
            <div class='thumbnail'>
                <div style="background-image: url(<%= card.image %>)"></div>
                <div class='caption'>
                    <h4><%= card.name %></h4>
                </div>
                <p>
                    <a href='/cards/<%= card._id %>' class='btn btn-primary'>More Info</a>
                </p>
            </div>
        </div>
    <% }); %>
</div>

<% include ../partials/footer %>